body {
    font-family: 'Alegreya', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f5f5f5;
    color: #49494B;
}

#search-poet {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: left;
    padding: 15px;
    background-color: #49494B;
    /* color: #f5f5f5; */
    /* width: 100%;
    height: 100%; */
}

h1 {
    /* font-size: 36px; */
    color: white;
    border-bottom: 1px solid #ffdf6c;
    padding: 15px;
    margin: 1px;

}

#subtitle {
    color: #8e8e90;
    padding-left: 15px;
    margin-bottom: 1px;
}

#output {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

#poem {
    list-style-type: none;
}

#poetName {
    color: #8e8e90;
}

#quotation {
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    background-color: #8e8e90;
    
}

#quote-name {
    padding-left: 30px;
    padding-bottom: 15px;
    margin-top: 0px;
    font-size: 12px;
    color: white;
    background-color: #8e8e90;
}

#search-bar {
    padding: 24px;
}

#search-button {
    background-color: #ffdf6c;
    border-color: #ffdf6c;
}

#title {
    color: #49494B;
}