body {
    font-family: 'Alegreya', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f5f5f5;
    color: #49494B;
}

/* // Header Styling */
header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 15px;
    background-color: #49494B;
    border-radius: 3px; 
} 

h1 {
    color: #fefefe;
    border-right: .5px solid #ffdf6c;
    padding-left: 15px;
    padding-right: 25px;
    margin: 1px;
}

#subtitle {
    color: #8e8e90;
    padding-left: 25px;
    padding-right: 15px;
}

#poet-examples {
    color: #8e8e90;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 20px;
    margin: 0px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 12px;
    border-top: .5px solid #ffdf6c;
}

/* // Search Area Styling */
#search-poet {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    color: #49494B;
}

input[type=text]:focus {
    color: #49494B;
    border: 2px solid #49494B;
    outline: none;
}

::placeholder {
    color: #8e8e90;
}

#input-bar {
    color: #49494B;
    font-family: 'Alegreya', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#search-bar {
    padding: 15px;
}

#search-button {
    background-color: #ffdf6c;
    border-color: #ffdf6c;
    color: #49494B;
    font-family: 'Alegreya', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#title {
    color: #49494B;
    margin: 0px;
}

/* // Poem Output Styling */
#output {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

#poem {
    color: #49494B;
}

#poet-name {
    color: #8e8e90;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* // Footer Styling */
footer {
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    padding: 15px;
    background-color: #49494B;
    border-radius: 3px;
}

#quotation {
    color: #f5f5f5;
    padding-left: 15px;
    padding-top: 11px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: .5px solid #ffdf6c;
}

#quote-name {
    padding-left: 25px;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 12px;
    color: #8e8e90;
}

/* // MEDIA QUERIES */
@media screen and (max-width: 640px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    h1 {
        font-size: 150%;
        border-right: none;
        padding-bottom: 10px;
        margin: 0px;
        border-bottom: 1px solid #ffdf6c;
    }
    #subtitle {
        font-size: 80%;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px;
    }
    #poet-examples {
        max-width: 93%;
        font-size: 70%;
        line-height: 1.2;
        padding-top: 10px;
        margin: 0px;
    }
}

@media screen and (max-width: 470px) {
    #search-poet {
        flex-direction: column;
        align-items: center;
    }
    #instructions {
        margin: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #search-bar {
        margin: 0px;
        padding: 3px;
    }
}

@media screen and (max-width: 400px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    h1 {
        font-size: 150%;
        border-right: none;
        padding-bottom: 10px;
        margin: 0px;
        border-bottom: 1px solid #ffdf6c;
        width: auto;
    }
    #subtitle {
        font-size: 75%;
        padding-left: 15px;
        padding-top: 10px;
        margin: 0px;
    }
    #poet-examples {
        display: none;
    }
    #quotation {
        font-size: 75%;
    }
}