body {
    font-family: 'Alegreya', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* width: 100%;
    height: 100%; */
}

h1 {
    font-size: 36px;
}

#output {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}

#quotation {
    color: gray;
}

#search-bar {
    padding: 20px;
}